<div class='container adminContainer usersContainer' id="userMenuTitleView">

	<h1 class="menuTitle text-center">
		Liste Utilisateurs</h1>
	<table class="table table-striped usersTable">
		<tbody>
			<tr>
				<th scope="col" class="text-center">#</th>
				<th scope="col" class="text-center">Nom</th>
				<th scope="col" class="text-center">Prenom</th>
				<th scope="col" class="text-center">email</th>
			</tr>

			{% for user in users %}

				<tr>
					<th scope="row" class="text-center">
						<a href="/admin/user?id={{user.id}}">{{user.id}}</a>
					</th>
					<td class="text-center">{{user.lastname}}</td>
					<td class="text-center">{{user.firstname}}</td>
					<td class="text-center">{{user.email}}€</td>
				</tr>


			{% endfor %}
		</tbody>


	</table>
</div>
