{% extends 'parent.html.twig' %}


{% block title %}Genie -
	{{genieInfo.genieName}}
{% endblock %}

{% block header %}
	{% include "Admin/_adminHeader.html.twig" %}
{% endblock %}

{% block content %}
	<section class="container text-center">
		<div class="row justify-content-center m-2">
			<h1 class="col-8">{{genieInfo.genieName}}</h1>
		</div>
		<div class="row justify-content-center m-2">
			<p class="col-8">
				Spécialité :
				{{genieInfo.specialty_id}}
				-
				{{genieInfo.specialtyName}}</p>
		</div>
		<div class="row justify-content-center m-2">
			<p class="col-8">Nombre de voeux :
				{{genieInfo.nb_wishes}}</p>
		</div>
		<div class="row justify-content-center m-2">
			<p class="col-8">Matière de la lampe :
				{{genieInfo.material}}</p>
		</div>
		<div class="row justify-content-center m-2">
			<p class="col-8">Prix journalier :
				{{genieInfo.costPerDay}}€</p>
		</div>
		<div class="row justify-content-center m-2">
			<img src={{genieInfo.genie_img}} class="img-thumbnail rounded mx-auto d-block col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4" alt="Image du génie">
		</div>
		<div class="row justify-content-center m-2">
			<img src={{genieInfo.lamp_img}} class="img-thumbnail rounded mx-auto d-block col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4" alt="Image de  la lampe">
		</div>
		<div class="row justify-content-center m-2">
			<a href="genie/update?id={{genieInfo.genieId}}" class="btn btn-primary btn-lg col-5 col-sm-5 col-md-3 col-lg-2" tabindex="-1" role="button">Modifier</a>
		</div>
		<div class="row justify-content-center m-2">
			<a href="genie/delete?id={{genieInfo.genieId}}" class="btn btn-secondary btn-lg col-5 col-sm-5 col-md-3 col-lg-2" tabindex="-1" role="button">Supprimer</a>
		</div>
	</section>
{% endblock %}
{% block footer %}
	{% include "Admin/_adminFooter.html.twig" %}
{% endblock %}
