{% extends 'parent.html.twig' %}
{% block stylesheet %}

	<link href="/assets/css/welcomeStyle.css" rel="stylesheet">
	<link href="/assets/css/headerStyle.css" rel="stylesheet">

{% endblock %}

{% block header %}
	{% include "Home/_header.html.twig" %}
	{% include "Genie/_headerGenie.html.twig" %}
{% endblock %}


{% block content %}


	<div class="container scrollmenu ">
		<div class="row d-flex flex-nowrap justify-content-between">
			{% for specialty in specialties %}
				<a href="/genies?specialty={{specialty.name}}" class="specialtyMenuTile text-center text-decoration-none link-dark">{{specialty.name}}</a>
			{% endfor %}
		</div>
	</div><hr>

	<div class="container">
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
			{% for genie in genies %}
				{% if getParameter is empty %}
					<div class="col mb-3">
						<div class="card mx-auto h-100" style="width: 18rem;">
							<div class="cardImgContainer d-flex align-items-center">
								<img src={{genie.genie_img}} class="card-img-top" alt="...">
							</div>
							<div class="card-body">
								<div class="d-flex justify-content-between">
									<h5 class="card-title fw-bold">{{genie.name}}</h5>
									<h5>{{genie.costPerDay}}€/J</h5>
								</div>
								<h6 class="fst-italic">{{genie.speName}}</h6>
								<p class="card-text">{{genie.description}}</p>
								<a href="/genies/show?id={{genie.id}}" class="stretched-link"></a>
							</div>
						</div>
					</div>
				{% else %}
					{% if genie.speName == getParameter %}
						<div class="col mb-3">
							<div class="card mx-auto h-100" style="width: 18rem;">
								<div class="cardImgContainer">
									<img src={{genie.genie_img}} class="card-img-top" alt="...">
								</div>
								<div class="card-body">
									<div class="d-flex justify-content-between">
										<h5 class="card-title fw-bold">{{genie.name}}</h5>
										<h5>{{genie.costPerDay}}€/J</h5>
									</div>
									<h6 class="fst-italic">{{genie.speName}}</h6>
									<p class="card-text">{{genie.description}}</p>
									<a href="/genies/show?id={{genie.id}}" class="stretched-link"></a>
								</div>
							</div>
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>

	{% endblock %}

	{% block footer %}
		{% include "Home/_footer.html.twig" %}
	{% endblock %}

	{% block javascript %}
		<script src="/assets/scripts/navScript.js"></script>
	{% endblock %}
